@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --animate-grid: grid 15s linear infinite
  }
}

@theme inline {
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
}